#img{
    width: 100px;
    height: 100px;
}
.bigImage{
    width: 450px;
    height: 450px;
}
.modal{
    display: inline-block;
    display: none;
    width: 500px;
    height: 500px;
    margin-top: 0px;
    text-align: center;
    
}

#mbl{
    margin-left: 250px;
    width: 900px;
    height: 200px;
}
.alt{
    height: 300px;
    width: 200px;
    margin: 0px;
}
.form{
    height: 350px;
    line-height: 50px;
    margin-top: 20px;
    width : 450px;
    border: 2px solid black;
    border-radius: 50px;
    color: blue;
    background-color: chartreuse;
    text-align: center;
}
.email{
    margin-top: 50px;
    padding-top: 20px;
}

#name{
    margin-top: 10px;
    margin-left: 0px;
    width: 190px;
    height: 40px;
}

#pass{
    margin-top: 10px;
    margin-left: 30px;
    width: 190px;
    height: 40px;
}
.sub{
    margin-top: 50px;
    width: 350px;
}


.form1{
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
    width: 500px;
    height: 500px;
}
.image{
    width: 500px;
    height: 500px;
}

.bigger{
    width: 500px;
    height: 500px;
}

#lit{
    width: 300px;
    height: 300px;
}